<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battle Result</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <h1 id="battleResults">Battle Results</h1>

    <div id="battleground">
        <div id="hero1">
            <h2>Hero Attributes: <%- name1 %></h2>
    
            <table>
                <tr>
                    <th>Intelligence</th>
                    <th>Strength</th>
                    <th>Speed</th>
                    <th>Durability</th>
                    <th>Power</th>
                    <th>Combat</th>
                </tr>
    
                <tr>
                    <td><%- intelligence1 %></td>
                    <td><%- strength1 %></td>
                    <td><%- speed1 %></td>
                    <td><%- durability1 %></td>
                    <td><%- power1 %></td>
                    <td><%- combat1 %></td>
                </tr>
            </table>
            <br>
    
            <div>
                <img src="<%- image1 %>" alt="<%- name1 %>" height="400">
            </div>
        </div>

        <div id="comparison">
            <h2 id="powerLevels">Power Levels</h2>

            <div id="scores">
                <span><%- score1 %></span>
                <span><%- score2 %></span>
            </div>

            <span id="winner"><%- winner %> wins</span>
            <br><br><br>

            <a href="/">
                <input class="home" type="button" value="HOME"><br>
            </a>
        </div>
    
        <div id="hero2">
            <h2>Hero Attributes: <%- name2 %></h2>
    
            <table>
                <tr>
                    <th>Intelligence</th>
                    <th>Strength</th>
                    <th>Speed</th>
                    <th>Durability</th>
                    <th>Power</th>
                    <th>Combat</th>
                </tr>
    
                <tr>
                    <td><%- intelligence2 %></td>
                    <td><%- strength2 %></td>
                    <td><%- speed2 %></td>
                    <td><%- durability2 %></td>
                    <td><%- power2 %></td>
                    <td><%- combat2 %></td>
                </tr>
            </table>
            <br>
    
            <div>
                <img src="<%- image2 %>" alt="<%- name2 %>" height="400">
            </div>
        </div>
    </div>
</body>
</html>
