<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Hero Result</title>
    <link rel="stylesheet" type="text/css" href="/style.css" >
</head>

<body>
    <h1 class="superheroArenaTop">Superhero Arena</h1>

    <h2 id="heroAttributes">Hero Attributes: <%- heroName %></h2>

    <table>
        <tr>
            <th>Intelligence</th>
            <th> Strength</th>
            <th> Speed</th>
        </tr>

        <tr>
            <td><%- heroIntelligence %></td>
            <td><%- heroStrength %></td>
            <td><%- heroSpeed %></td>
        </tr>
    </table>
    <br>

    <div id="lowerThree">
        <a href="/">
            <input id="thisHome" type="button" value="HOME"><br>
        </a>

        <div id="image">
            <img src="<%- heroImage %>" id="thisImage" alt="<%- heroName %>" height="400">
        </div>
        
        <a href="https://www.superheroapi.com/ids.html">
            <input id="thisAllHeroes" type="button" value="All Heroes"><br>
        </a>
    </div>
</body>
</html>